[submodule "vendor/webmagic"]
	path = vendor/webmagic
	url = git@github.com:MatheusGPM/webmagic.git
[submodule "vendor/webmagic_original"]
	path = vendor/webmagic_original
	url = https://github.com/code4craft/webmagic.git
[submodule "webmagic_com_testes_LLM"]
	url = https://github.com/SEU_USUARIO/SEU_REPO.git
